.center {
  text-align: center;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}
img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px black;
    background-color: white;
    position: fixed;
    bottom: 0;
}

html {
  box-sizing: 'border-box'
}

body {
  background-image: url('https://images.unsplash.com/photo-1505356822725-08ad25f3ffe4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ab269619b7d2a86beaa51089b3c31407&auto=format&fit=crop&w=934&q=80');
  background-size: cover;
}

#players-input {
  width: 160px;
  height: 160px;
  margin: 0 auto 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  font-size: 50px;
  margin-left: 50px;
}

.guess {
  display: inline;
  font-size: 30px;
  border: 2px solid #1FBCD3;
  border-radius: 3px;
  padding: 0 10px;
  margin: 10px;
}

#menu-btns {
  margin-top: 15px;
}

#main {
  /*vertical-align: middle;*/
  padding: auto 25px;

}

#submit {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 110px;
  left: 150px;
}

#input-parent {
  width: 160px;
  /*margin: 5% auto 50px;*/
  position: relative;
}

#app {
  background-color: rgba(50, 50, 50, 0.5);
  color: #1fbcd3;
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
